html {
    margin: 0;
}

body {
    overflow: hidden;
    background-color: rgb(71, 69, 69);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: "Lato", sans-serif;
}

table {
    width: 500px;
    height: 500px;
    margin-left: calc(50vw - 250px);
    margin-top: 10vh;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

td {
    text-align: center;
    cursor: pointer;
}

td:hover {
    animation: transformer 0.5s
}

tr {
    cursor: pointer;
}

@keyframes transformer {
    0%
    {
        transform: scale(100%);
    }
    100%
    {
        transform: scale(110%);
    }
}

#ultrablok
{
    text-align: center;
}

h2
{
    position: relative;

    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:  x-large;
}

#stop {
    background-color: red;
   
}

#start {
    background-color: green;
 

}

h1
{
    color: rgb(43, 43, 43);
    font-family: cursive;
    text-align: center;
    font-size: 2em;
}